<section class="offer_area">
    <div class="container">
        <div class="row justify-content-center">
            <div class="offset-lg-4 col-lg-6 text-center">
                <div class="offer_content">
                    <h2 class="text-uppercase mb-40">Dashboard </h2>
                    <a href="#" class="main_btn mb-20 mt-5">Discover Now</a>
                    <p>Limited Time Offer</p>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="product_description_area m-5">
    <div class="container">
        <div class="col-lg-12 mx-auto text-center">
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab"
                        aria-controls="home" aria-selected="true">Products</a>
                </li>


                <li class="nav-item">
                    <a class="nav-link" id="users-tab" data-toggle="tab" href="#users" role="tab" aria-controls="users"
                        aria-selected="false">Users</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="stadium-tab" data-toggle="tab" href="#stadium" role="tab"
                        aria-controls="stadium" aria-selected="false">commandes</a>
                </li>

            </ul>
        </div>
        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                Products
                <app-producst-tab></app-producst-tab>
            </div>
            <div class="tab-pane fade" id="users" role="tabpanel" aria-labelledby="profile-tab">
                Users
                <app-users-tab></app-users-tab>
            </div>
            <div class="tab-pane fade" id="stadium" role="tabpanel" aria-labelledby="stadium-tab">
                commandes
                <app-admin-commande></app-admin-commande>
            </div>



        </div>
    </div>
</div>