<div class="single-product">
    <div class="product-img">
        <img [src]="oneProduct.avatar" alt="..." class="img-thumbnail" style="width:200px ; height: 200px;">

        <div class="p_icon">
            <a href="#">
                <i class="ti-eye"></i>
            </a>
            <a>
                <i class="ti-heart"></i>
            </a>
            <a href="#">
                <i class="ti-shopping-cart"></i>
            </a>
        </div>
    </div>
    <div class="product-btm">
        <a href="#" class="d-block">
            <span>{{oneProduct.description}}</span>
        </a>
        <div class="mt-3">
            <p [ngClass]="{'beginn':color (oneProduct.price)==1,
                junior:color (oneProduct.price)==2,
                senior:color(oneProduct.price)==3 }">{{oneProduct.price}}d
            </p>
            <h4> {{oneProduct.categorie}}</h4>
        </div>
        <a class="main_btn text text-white" (click)="gotoDisplay(oneProduct._id)">Display
            Product</a>

    </div>
</div>