<!--================Home Banner Area =================-->
<app-men-collection></app-men-collection>
<!--================End Home Banner Area =================-->

<!--================ Feature Product Area =================-->
<app-featured-product></app-featured-product>
<!--================ End Feature Product Area =================-->

<!--================ Offer Area =================-->
<app-all-mens-collections></app-all-mens-collections>
<!--================ End Offer Area =================-->

<!--================ New Product Area =================-->
<app-new-products></app-new-products>
<!--================ End New Product Area =================-->

<!--================ Inspired Product Area =================-->
<app-inspired-products></app-inspired-products>
<!--================ End Inspired Product Area =================-->

<!--================ Start Blog Area =================-->
<app-blog></app-blog>
<!--================ End Blog Area =================-->