<section class="new_product_area section_gap_top section_gap_bottom_custom">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-12">
                <div class="main_title">
                    <h2><span>new products</span></h2>
                    <p>Bring called seed first of third give itself now ment</p>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-6">
                <div class="new_product">
                    <h5 class="text-uppercase">collection of 2019</h5>
                    <h3 class="text-uppercase">Men’s summer t-shirt</h3>
                    <div class="product-img">
                        <img class="img-fluid" src="assets/img/product/new-product/new-product1.png" alt="" />
                    </div>
                    <h4>$120.70</h4>
                    <a href="#" class="main_btn">Add to cart</a>
                </div>
            </div>

            <div class="col-lg-6 mt-5 mt-lg-0">
                <div class="row">
                    <div class="col-lg-6 col-md-6">
                        <app-newproduct-one></app-newproduct-one>
                    </div>

                    <div class="col-lg-6 col-md-6">
                        <app-newproduct-one></app-newproduct-one>
                    </div>

                    <div class="col-lg-6 col-md-6">
                        <app-newproduct-one></app-newproduct-one>
                    </div>

                    <div class="col-lg-6 col-md-6">
                        <app-newproduct-one></app-newproduct-one>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>